<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJZo2drj4gZy5bPWUmCck-PjTjcF0iOJe1kCN7o72Zla-DEJZZXPVVz6nIZNGyV_0ndQzGwRQZB_w9/pubhtml?widget=true&amp;headers=false"style="height: 800px;width: 1400px;" title="iframe"></iframe>
<html>
<head>
</head>
<body>
  <p><h3>Items You Can Easily Consume In Obesity Diet Plan
    Choose minimally processed, whole foods:</h3>
    <img src="{{url_for('static',filename='table.svg')}}" alt="overweight" width="200px" height="200px">
   <ul>
       <li><h2>Steamed snacks

        You can steam carrots and beans and mix them with some salt, paprika and pepper for a quick and tasty snack. There are also many Indian foods like dhokla and khandvi made by steaming a batter made of chickpeas. They are also very healthy and satisfying.
        </h2>
        </li>
        <li><h1> chaat

            Boil a cup of mixed sprouts and toss them with some chaat powder, chopped tomatoes, onions and coriander leaves.
            </h1><h1>
            </li>
            <li> Baked snacks

                Slice potatoes, carrots or sweet potatoes into thick wedges, sprinkle them with some salt and pepper and roast them in the oven until they are fully cooked.</li>
   </ul>
    
</body>
</html>

