
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSAArMLinq4sERmv_GN36YRl2DGwm6FYFeCSP2mvUMv9lMn2vZ-Qxpat0jaerGFt_Fr57tuvPQ5LHt-/pubhtml?widget=true&amp;headers=false"style="height: 800px;width: 1400px;" title="iframe"></iframe>
<html>
<head>
</head>
<body>
  <p><h3>Items You Can Easily Consume In Obesity Diet Plan
    Choose minimally processed, whole foods:</h3>
   <h4> 1.Whole grains (whole wheat, steel cut oats, brown rice, quinoa)</br>
    2.Vegetables (a colorful variety-not potatoes)</br>
    3.Whole fruits (not fruit juices)</br>
    4.Nuts, seeds, beans, and other healthful sources of protein (fish and poultry)</br>
    5.Plant oils (olive and other vegetable oils)</br>
    Drink water or other beverages that are naturally calorie-free</br></h4>
    </p>
    <img src="{{url_for('static', filename='table.svg')}}" alt="overweight" width="500px" height="500px">
</body>
</html>

